<div id="team" class="section">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Projects</h2>
                </div>
    

<!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
    {% for project in site.data.projects %}
    <!--contributor -->


<div class="col-md-6 mb-30px">
    <button class="collapsible" style="   border: 3px solid #91ceaf;    padding: 0px;    border-radius: 10px;">
    <div class="listfeaturedtag h-100">
        <div class="row" style="margin-left: 0px;    margin-right: 0px;">
           
           
            <div>
                <div class="h-100 card-group">
                	
                    <div class="card">
                        <div class="card-body">
                        	<table border="0">
                        		<tr>
                        			<td style="border: 1px solid white;">
                        				<img src="images_packages/{{ project.imageFile }}" style="max-width: 200px; max-height: 100px;"/>
                        			</td>
                        			<td style="border: 1px solid white;">
                           				 <h2 class="card-title"><a class="text-dark" href="{{ project.name }}">{{ project.name }}</a></h2>
                           				 <h4 class="card-text" style="color:orange"><i><b>Category:</b></i> {{ project.category }}</h4>
                        			</td>
                        		</tr>
                        	</table>
                            <h4 class="card-text"><i><b>Principal developers:</b></i> {{ project.principalDevelopers }}</h4>
                            <h4 class="card-text" style="color:orange">{{ project.shortDescription }}</h4>
                            <h4 class="card-text"><i><b>Key words:</i></b> {% for wo in project.keywords %} {{ wo }}, {% endfor %}</h4> 
                        </div>
                        
                    </div>
                </div>
            </div>
       
        </button>
							<div class="content" style="padding: 9px 9px 9px 9px; display: none; bacground-color: #fff8dc">
  							<h4>Description</h4>	 <p>{{ project.longDescription }}</p>
  							<h4>References</h4>
  							<ol>
  							 {% for reference in project.keyReferences %}
  							 <li><a href="{{ reference.referenceURL }}">{{ reference.referenceText }}</a></li> <br/>
  							 {% endfor %}
  							</ol>
							</div>
	</div>
            {% endfor %}
    </div>
  </div>

</div>
